{
    "clientID": "Your Client ID from the Astra DB Token",
    "clientSecret": "Your Client Secret from the Astra DB Token",
    "astraToken": "Your Astra DB Token",
    "astraTokenRole": "Read/Write User is sufficient permission when generating token",
    "hashPrefix": "Place some random chars here to make caller hashing harder to reverse"
}
